@import "../../theme/main.scss";

.CardContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;

    h3 {
        @extend %FontSemiBold;
    }

    h4 {
        @extend %FontTemperature;
    }
}
