%FontTemperature {
    font-size: 40px;
    font-weight: 700;
}

%FontBold {
    font-size: 26px;
    font-weight: 700;
}

%FontRegular {
    font-size: 17px;
    font-weight: 600;
}

%FontLight {
    font-size: 17px;
    font-weight: 200;
}

%FontThin {
    font-size: 14px;
    font-weight: 100;
}
