$bg-primary: linear-gradient(120deg, rgba(87, 124, 232, 1) 0%, rgba(109, 167, 241, 1) 65%);
$bg-secondary: linear-gradient(120deg, rgba(11, 36, 101, 1) 0%, rgba(74, 133, 201, 1) 65%);
$bg-tertiary: linear-gradient(120deg, rgba(80, 87, 110, 1) 0%, rgba(143, 157, 174, 1) 65%);

$color-primary: white;
$color-secondary: #01175f;
$color-tertiary: #d9dfea;
