@import "../../theme/main.scss";

.CardContainer {
    display: flex;
    justify-content: space-between;

    > div {
        width: 50%;
    }

    time {
        @extend %FontRegular;
    }

    h3 {
        @extend %FontTemperature;
    }

    h4 {
        @extend %FontLight;
    }
}
