@import "../../theme/main.scss";

.CardContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;

    h3 {
        @extend %FontBold;
    }

    h4 {
        @extend %FontTemperature;
    }

    time {
        display: block;
    }

    .Date {
        @extend %FontLight;
        width: 150px;
    }

    .Time {
        @extend %FontThin;
        color: $color-tertiary;
        margin-top: 10px;
    }

    img {
        width: 100px;
    }
}
